body{
}
header{
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: black;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
}
nav{
  display: inline-flex;
}
nav a{
  padding: 0;
  margin: 0;
  border-left: solid red 2px;
  border-right: solid red 2px;
  letter-spacing: 1px;
  width: 200px;
  text-decoration: none;
  font-family: times;
  font-size: 155%;
  color:white;
}
.active a:hover{
  background-color: #444;
  color: black;
}
.container{
  width: 80%;
  position: relative;
  left: 15%;
  top: 50px;
}
.card{
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 80px;
  position: relative;
  display: inline-flex;
  border: solid blue 1px;
  border-radius: 5px;
  text-align: center;
  padding: 1px;
}
img{
  border-radius: 5px;
}
.icon{
  position: absolute;
  top:0;
  right: 0;
  border-radius: 5px;
  background-color: white;
}
.title{
  background-color: blue;
  color: white;
  top:0;
  left: 0;
  width: 70%;
  border-radius: 5px;
  position: absolute;
  text-align: center;
}
.price{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #868686;
  border-radius: 5px;
}
.overlay{}
.alert{
  width: 40%;
  height: 40%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  top: 20%; bottom: 20%; right: 30%; left: 30%;
  border: solid red 10px;
  border-radius: 20px;
  z-index:100;
  text-align: center;
}
