div.letters{
  border: 2px solid rgb(249, 138, 139);
}
.letters div{
  margin: 3px;
  display: inline-flex; /*wrap*/
  border: 2px solid rgb(164, 42, 42);
  height: 50px;
  width: 50px;
  border-radius:100%;
  background:rgb(164, 42, 42);
  color:white;
  font-size: 45;
  justify-content: center;
}
